* {
  font-size: 12px;
  font-family: monospace;
}

@media (max-width: 480px) {
  * {
    font-size: 10px;
  }
}

body {
  margin-left: 10vw;
  margin-right: 10vw;
}

.loading {
  text-align: center;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 3rem;
  font-weight: 500;
}

.author {
  font-size: 2rem;
  font-weight: 400;
}

.quote-btn {
  font-family:  monospace;
  font-size: 1.5rem;
  width: 25vw;
  padding: 0.5rem;
  font-weight: 300;
  background-color: #fff;
  border: 0.5px solid #000;
}

.quote-btn:hover {
  background-color: #000;
  border: 0.5px solid #fff;
  color: #fff;
}
